.card-contianer {
    padding: 10px;
    max-width: 120%;
}

.custom-add-btn{
margin-bottom: 20px;
}

.toggle-container {
    display: flex;
    flex-direction: column;
}

.custom-mat-toggle {
    margin-top: 10px;
}

.submit-button-container{
    display: flex;
    flex-direction: row-reverse;
}

.submit-button{
    width: 15%;
}
