<div class="main-wrapper">
    <p-toast></p-toast>

    <div *ngIf="showSpinner">
        <app-spinner></app-spinner>
    </div>
    <div class="account-content">
        <!-- Account Logo -->
        <div class="account-logo">
            <a [routerLink]="routes.adminDashboard"><img src="assets/img/logo2.png" alt="Dreams Technologies"></a>
        </div>
        <div class="account-box">
            <div class="account-wrapper">
                <h3 class="account-title">Change Password</h3>
                <form [formGroup]="changePassword" (ngSubmit)="resetPassword()">
                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">New password</label>
                        <input type="password" class="form-control" formControlName="newPassword">
                        <mat-error *ngIf="changePassword.controls['newPassword']?.touched && changePassword.controls['newPassword']?.errors?.['required']">
                            <small class="text-danger"> {{'passwordRequired' | translate }}</small>
                        </mat-error>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label" for="">Confirm password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword">
                        <mat-error *ngIf="changePassword.controls['confirmPassword']?.touched && changePassword.controls['confirmPassword']?.errors?.['required']">
                            <small class="text-danger"> {{'confirmPasswordRequired' | translate }}</small>
                        </mat-error>
                        <mat-error *ngIf="changePassword.hasError('passwordMismatch') && changePassword.get('confirmPassword')?.touched">
                            <small class="text-danger">Passwords do not match.</small>
                        </mat-error>
                    </div>
                    <div class="submit-section mb-4">
                        <button class="btn btn-primary submit-btn">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>