.vacation-form {
    padding: 10px;
    max-width: 120%;
}

.submit-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 20px;
}

.submit-button {
    width: 200px;
}

.custom-mat-toggle {
    margin-top: 10px;
}

.toggle-container {
    display: flex;
    flex-direction: column;
}