<div class="content container-fluid">
    <p-toast></p-toast>

    <div *ngIf="showSpinner">
        <app-spinner></app-spinner>
    </div>
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">{{ 'eos.editEos' | translate }}</h3>
            </div>
        </div>
    </div>
    <mat-tab-group>
        <mat-tab label="{{'eos.eosDetails' | translate}}">
            <div>
                <p-messages [(value)]="messages" [enableService]="false" [closable]="false" />
            </div>
            <!-- <div *ngIf="eos.workflowState === calculateStatus" class="col-auto float-end ms-auto">
                <button class="btn btn-primary submit-button" (click)="calculateEOS()">
                    {{ 'calculate' | translate }}</button>
            </div> -->
            <div class="form-container">

                <form [formGroup]="eosForm" class="vacation-form">
                    <div class="card custom-card">
                        <div class="card-header border-bottom-0 justify-content-between">
                            <div class="card-title">{{ 'eos.employeeDetails' | translate }}</div>
                            <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#employeeDetails"
                                aria-expanded="false" aria-controls="collapseExample">
                                <i class="feather icon-chevron-down fs-18 collapse-open"></i>
                                <i class="feather icon-chevron-up collapse-close fs-18"></i>
                            </a>
                        </div>
                        <div class="collapse show border-top" id="employeeDetails">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label" for="empNum">{{'employee.employee'|
                                                    translate}}</label>
                                                <input class="form-control" type="text" formControlName="empNum">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="">{{'eos.eosType'| translate}}<span
                                                    class="text-danger">*</span></label>
                                            <mat-select class="custom-mat-select"
                                                [class.invalid]="eosForm.get('eosTypeId')?.invalid && eosForm.get('eosTypeId')?.touched"
                                                formControlName="eosTypeId" placeholder="{{'select'| translate}}">
                                                <mat-option *ngFor="let option of eosTypeId" [value]="option.Id">
                                                    {{ option.EnglishName }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="eosForm.controls['eosTypeId']?.errors?.['required'] && eosForm.controls['eosTypeId']?.touched">
                                                <small class="text-danger"> {{'eos.eosTypeRequired'| translate}}</small>
                                            </mat-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="">{{'eos.EmpStatus'| translate}}<span
                                                    class="text-danger">*</span></label>
                                            <mat-select class="custom-mat-select"
                                                [class.invalid]="eosForm.get('empStatusStr')?.invalid && eosForm.get('empStatusStr')?.touched"
                                                formControlName="empStatusStr" placeholder="{{'select'| translate}}">
                                                <mat-option *ngFor="let option of empStatus" [value]="option">
                                                    {{ option }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="eosForm.controls['empStatusStr']?.errors?.['required'] && eosForm.controls['empStatusStr']?.touched">
                                                <small class="text-danger"> {{'eos.empStatusRequired'|
                                                    translate}}</small>
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card">
                        <div class="card-header border-bottom-0 justify-content-between">
                            <div class="card-title">{{ 'eos.dates' | translate }}</div>
                            <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#eosDates"
                                aria-expanded="false" aria-controls="collapseExample">
                                <i class="feather icon-chevron-down fs-18 collapse-open"></i>
                                <i class="feather icon-chevron-up collapse-close fs-18"></i>
                            </a>
                        </div>
                        <div class="collapse show border-top" id="eosDates">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3 date-input1">
                                            <label class="col-form-label" for="">{{'leave.startDate'| translate}}<span
                                                    class="text-danger">*</span></label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" type="text" bsDatepicker
                                                    type="text" container=".date-input1"
                                                    [class.invalid]="eosForm.get('startDate')?.invalid && eosForm.get('startDate')?.touched"
                                                    formControlName="startDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3 date-input1">
                                            <label class="col-form-label" for="">{{'eos.actualEndDate'| translate}}<span
                                                    class="text-danger">*</span></label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" type="text" bsDatepicker
                                                    type="text" container=".date-input1"
                                                    [class.invalid]="eosForm.get('actualEndDate')?.invalid && eosForm.get('actualEndDate')?.touched"
                                                    formControlName="actualEndDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3 date-input1">
                                            <label class="col-form-label" for="">{{'eos.eosDate'| translate}}<span
                                                    class="text-danger">*</span></label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" type="text" bsDatepicker
                                                    type="text" container=".date-input1"
                                                    (ngModelChange)="calculateEndDays()"
                                                    [class.invalid]="eosForm.get('eosDate')?.invalid && eosForm.get('eosDate')?.touched"
                                                    formControlName="eosDate">
                                                <mat-error
                                                    *ngIf="eosForm.controls['eosDate']?.touched && eosForm.controls['eosDate']?.errors?.['required']">
                                                    <small class="text-danger"> {{'eos.eosDateRequired'|
                                                        translate}}</small>
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3 date-input1">
                                            <label class="col-form-label" for="">{{'leave.endDate'| translate}}<span
                                                    class="text-danger">*</span></label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" type="text" bsDatepicker
                                                    type="text" container=".date-input1"
                                                    [class.invalid]="eosForm.get('endDate')?.invalid && eosForm.get('endDate')?.touched"
                                                    formControlName="endDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card">
                        <div class="card-header border-bottom-0 justify-content-between">
                            <div class="card-title">{{ 'eos.compensation' | translate }}</div>
                            <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#eosCompensation"
                                aria-expanded="false" aria-controls="collapseExample">
                                <i class="feather icon-chevron-down fs-18 collapse-open"></i>
                                <i class="feather icon-chevron-up collapse-close fs-18"></i>
                            </a>
                        </div>
                        <div class="collapse show border-top" id="eosCompensation">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label"
                                                for="compensationValue">{{'eos.compensationValue'|
                                                translate}}</label>
                                            <input class="form-control" type="number"
                                                formControlName="compensationValue">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label"
                                                    for="entitledCompensationValue">{{'eos.entitledCompensationValue'|
                                                    translate}}</label>
                                                <input class="form-control" type="number"
                                                    formControlName="entitledCompensationValue">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card">
                        <div class="card-header border-bottom-0 justify-content-between">
                            <div class="card-title">{{ 'eos.servicePeriod' | translate }}</div>
                            <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#eosServicePeriod"
                                aria-expanded="false" aria-controls="collapseExample">
                                <i class="feather icon-chevron-down fs-18 collapse-open"></i>
                                <i class="feather icon-chevron-up collapse-close fs-18"></i>
                            </a>
                        </div>
                        <div class="collapse show border-top" id="eosServicePeriod">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="workingYears">{{'eos.workingYears'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="workingYears">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="deductedYears">{{'eos.deductedYears'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="deductedYears">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="netYears">{{'eos.netYears'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="netYears">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="workingMonths">{{'eos.workingMonths'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="workingMonths">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="deductedMonths">{{'eos.deductedMonths'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="deductedMonths">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="netMonths">{{'eos.netMonths'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="netMonths">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="workingDays">{{'eos.workingDays'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="workingDays">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="deductedDays">{{'eos.deductedDays'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="deductedDays">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="netDays">{{'eos.netDays'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="netDays">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="totalNetDays">{{'eos.totalNetDays'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="totalNetDays">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="totalWorkingDays">{{'eos.totalWorkingDays'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="totalWorkingDays">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card">
                        <div class="card-header border-bottom-0 justify-content-between">
                            <div class="card-title">{{ 'eos.salary' | translate }}</div>
                            <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#eosSalary"
                                aria-expanded="false" aria-controls="collapseExample">
                                <i class="feather icon-chevron-down fs-18 collapse-open"></i>
                                <i class="feather icon-chevron-up collapse-close fs-18"></i>
                            </a>
                        </div>
                        <div class="collapse show border-top" id="eosSalary">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label"
                                                for="unpaidSalariesAmount">{{'eos.unpaidSalariesAmount'|
                                                translate}}</label>
                                            <input class="form-control" type="number"
                                                formControlName="unpaidSalariesAmount">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3 toggle-container">
                                            <label class="col-form-label" for="">{{'eos.calculateForThisMonthOnly'| translate}}</label>
                                            <mat-slide-toggle class="toggle-button custom-mat-toggle"
                                                formControlName="calculateForThisMonth" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card">
                        <div class="card-header border-bottom-0 justify-content-between">
                            <div class="card-title">{{ 'eos.vacation' | translate }}</div>
                            <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#eosVacation"
                                aria-expanded="false" aria-controls="collapseExample">
                                <i class="feather icon-chevron-down fs-18 collapse-open"></i>
                                <i class="feather icon-chevron-up collapse-close fs-18"></i>
                            </a>
                        </div>
                        <div class="collapse show border-top" id="eosVaction">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="vacationBalance">{{'eos.vacationBalance'|
                                                translate}}</label>
                                            <input class="form-control" type="number"
                                                formControlName="vacationDaysBalance">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="vacationAmount">{{'eos.vacationAmount'|
                                                translate}}</label>
                                            <input class="form-control" type="number"
                                                formControlName="vacationBalanceAmount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card">
                        <div class="card-header border-bottom-0 justify-content-between">
                            <div class="card-title">{{ 'eos.deductions' | translate }}</div>
                            <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#eosDeductions"
                                aria-expanded="false" aria-controls="collapseExample">
                                <i class="feather icon-chevron-down fs-18 collapse-open"></i>
                                <i class="feather icon-chevron-up collapse-close fs-18"></i>
                            </a>
                        </div>
                        <div class="collapse show border-top" id="eosDeductions">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label"
                                                for="housingAllowance">{{'eos.housingAllowance'|
                                                translate}}</label>
                                            <input class="form-control" type="number"
                                                formControlName="housingAllowance">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="unpaidLoans">{{'eos.unpaidLoans'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="unpaidLoans">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label"
                                                for="eosDeductionAmount">{{'eos.eosDeductionAmount'|
                                                translate}}</label>
                                            <input class="form-control" type="number"
                                                formControlName="eosDeductionAmount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card">
                        <div class="card-header border-bottom-0 justify-content-between">
                            <div class="card-title">{{ 'eos.total' | translate }}</div>
                            <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#eosTotal"
                                aria-expanded="false" aria-controls="collapseExample">
                                <i class="feather icon-chevron-down fs-18 collapse-open"></i>
                                <i class="feather icon-chevron-up collapse-close fs-18"></i>
                            </a>
                        </div>
                        <div class="collapse show border-top" id="eosTotal">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="totalEarnings">{{'eos.totalEarnings'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="totalEarnings">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="totalDeductions">{{'eos.totalDeductions'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="totalDeductions">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="totalAmount">{{'eos.totalAmount'|
                                                translate}}</label>
                                            <input class="form-control" type="number" formControlName="totalAmount">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label" for="isPaid">{{'eos.isPaid'|
                                                translate}}</label>
                                            <mat-slide-toggle class="toggle-button custom-mat-toggle"
                                                formControlName="isPaid"
                                                [checked]="eosForm.get('isPaid')?.value === 1" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <div class="vacation-form">
                    <div class="card custom-card">
                        <div class="card-header border-bottom-0 justify-content-between">
                            <div class="card-title">{{ (eos.workflowState === approvedWorkflowState ? 'eos.addEarnings' : 'eos.earnings' | translate) }}</div>
                            <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#addEarnings"
                                aria-expanded="false" aria-controls="collapseExample">
                                <i class="feather icon-chevron-down fs-18 collapse-open"></i>
                                <i class="feather icon-chevron-up collapse-close fs-18"></i>
                            </a>
                        </div>
                        <div class="collapse show border-top" id="addEarnings">
                            <div class="card-body">
                                <div class="col-auto ms-auto add-btn-container">
                                    <button *ngIf="eos.workflowStateStr !== approvedWorkflowState" class="btn btn-success" (click)="onAddEarning()">
                                        <mat-icon class="custom-mat-icon">add</mat-icon>
                                        {{'add' | translate}}
                                    </button>
                                </div>

                                <div class="table-responsive">
                                    <table mat-table [dataSource]="earningDataSource" matSort
                                        class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <ng-container *ngFor="let column of columns" [matColumnDef]="column">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{
                                                    'eos.' + column | translate }}
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="actions">
                                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <button mat-icon-button
                                                        (click)="deleteRecord(earningDataSource, row)" class="icon-btn">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </td>
                                            </ng-container>
                                        </thead>
                                        <tbody>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                        </tbody>
                                    </table>
                                </div>
                                <p-dialog header="{{'eos.addEarnings' | translate}}" [(visible)]="showEarningDialog"
                                    [modal]="true" [style]="{ width: '40rem' }" [closable]="true">
                                    <form [formGroup]="earnForm">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-block mb-3">
                                                    <label class="col-form-label" for="">{{'eos.earnType'|
                                                        translate}}<span class="text-danger">*</span></label>
                                                    <mat-select class="custom-mat-select"
                                                        [class.invalid]="earnForm.get('type')?.invalid && earnForm.get('type')?.touched"
                                                        formControlName="type" placeholder="{{'select'| translate}}">
                                                        <mat-option *ngFor="let option of earnList" [value]="option.id">
                                                            {{ option.description }}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error
                                                        *ngIf="earnForm.controls['type']?.touched && earnForm.controls['type']?.errors?.['required']">
                                                        <small class="text-danger"> {{'eos.earnTypeRequired' | translate
                                                            }}</small>
                                                    </mat-error>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-block mb-3">
                                                    <label class="col-form-label" for="">{{'eos.amount'|
                                                        translate}}<span class="text-danger">*</span></label>
                                                    <input type="number" class="form-control"
                                                        [class.invalid]="earnForm.get('amount')?.invalid && earnForm.get('amount')?.touched"
                                                        formControlName="amount">
                                                    <mat-error
                                                        *ngIf="earnForm.controls['amount']?.touched && earnForm.controls['amount']?.errors?.['required']">
                                                        <small class="text-danger"> {{'eos.amountRequired' | translate
                                                            }}</small>
                                                    </mat-error>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label" for="">{{'eos.notes'| translate}}</label>
                                                <input type="text" class="form-control"
                                                    [class.invalid]="earnForm.get('notes')?.invalid && earnForm.get('notes')?.touched"
                                                    formControlName="notes">
                                            </div>
                                        </div>
                                    </form>
                                    <ng-template pTemplate="footer">
                                        <div class="add-dialog-btn-container">
                                            <button class="btn btn-primary" type="submit" [disabled]="earnForm.invalid"
                                                (click)="addRecord(earnForm, earnList, earnTransType)"> {{'add' |
                                                translate}}</button>
                                        </div>
                                    </ng-template>
                                </p-dialog>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vacation-form">
                    <div class="card custom-card">
                        <div class="card-header border-bottom-0 justify-content-between">
                            <div class="card-title">{{ (eos.workflowState === approvedWorkflowState ? 'eos.addDeductions' : 'eos.deductions' | translate) }}</div>
                            <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#addDeductions"
                                aria-expanded="false" aria-controls="collapseExample">
                                <i class="feather icon-chevron-down fs-18 collapse-open"></i>
                                <i class="feather icon-chevron-up collapse-close fs-18"></i>
                            </a>
                        </div>
                        <div class="collapse show border-top" id="addDeductions">
                            <div class="card-body">
                                <div class="col-auto ms-auto add-btn-container">
                                    <button *ngIf="eos.workflowStateStr !== approvedWorkflowState" class="btn btn-warning" (click)="onAddingDeduction()">
                                        <mat-icon class="custom-mat-icon">add</mat-icon>
                                        {{'add' | translate}}
                                    </button>
                                </div>

                                <div class="table-responsive">
                                    <table mat-table [dataSource]="deductionDataSource" matSort
                                        class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                            <ng-container *ngFor="let column of columns" [matColumnDef]="column">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{
                                                    'eos.' + column | translate }}
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="actions">
                                                <th mat-header-cell *matHeaderCellDef> {{ 'actions' | translate }} </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <button mat-icon-button
                                                        (click)="deleteRecord(deductionDataSource, row)"
                                                        class="icon-btn">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </td>
                                            </ng-container>
                                        </thead>
                                        <tbody>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                        </tbody>
                                    </table>
                                </div>
                                <p-dialog header="{{'eos.addDeductions' | translate}}" [(visible)]="showDeductionDialog"
                                    [modal]="true" [style]="{ width: '40rem' }" [closable]="true">
                                    <form [formGroup]="deductionForm">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-block mb-3">
                                                    <label class="col-form-label" for="">{{'eos.deductionType'|
                                                        translate}}<span class="text-danger">*</span></label>
                                                    <mat-select class="custom-mat-select"
                                                        [class.invalid]="deductionForm.get('type')?.invalid && deductionForm.get('type')?.touched"
                                                        formControlName="type" placeholder="{{'select'| translate}}">
                                                        <mat-option *ngFor="let option of deductList"
                                                            [value]="option.id">
                                                            {{ option.description }}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error
                                                        *ngIf="deductionForm.controls['type']?.touched && deductionForm.controls['type']?.errors?.['required']">
                                                        <small class="text-danger"> {{'eos.deductionTypeRequired' |
                                                            translate
                                                            }}</small>
                                                    </mat-error>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-block mb-3">
                                                    <label class="col-form-label" for="">{{'eos.amount'|
                                                        translate}}<span class="text-danger">*</span></label>
                                                    <input type="number" class="form-control"
                                                        [class.invalid]="deductionForm.get('amount')?.invalid && deductionForm.get('amount')?.touched"
                                                        formControlName="amount">
                                                    <mat-error
                                                        *ngIf="deductionForm.controls['amount']?.touched && deductionForm.controls['amount']?.errors?.['required']">
                                                        <small class="text-danger"> {{'eos.amountRequired' | translate
                                                            }}</small>
                                                    </mat-error>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label" for="">{{'eos.notes'| translate}}</label>
                                                <input type="text" class="form-control"
                                                    [class.invalid]="deductionForm.get('notes')?.invalid && deductionForm.get('notes')?.touched"
                                                    formControlName="notes">
                                            </div>
                                        </div>
                                    </form>
                                    <ng-template pTemplate="footer">
                                        <div class="add-dialog-btn-container">
                                            <button class="btn btn-primary" type="submit"
                                                [disabled]="deductionForm.invalid"
                                                (click)="addRecord(deductionForm, deductList, deductionTransType)">
                                                {{'add' |
                                                translate}}</button>
                                        </div>
                                    </ng-template>
                                </p-dialog>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-container">
                    <button *ngIf="isAdmin && eos.workflowStateStr !== approvedWorkflowState" class="btn btn-success submit-button" (click)="submitEos()" [disabled]="eos.calculateStatus === pendingStatus">
                        {{ 'approve' | translate }}
                    </button>
                    <button *ngIf="eos.workflowStateStr !== approvedWorkflowState" class="btn btn-info submit-button" (click)="addEoscalculateRequest()" [disabled]="eos.calculateStatus === pendingStatus ">
                        {{ 'calculate' | translate }}
                    </button>
                    <button *ngIf="eos.workflowStateStr !== approvedWorkflowState" class="btn btn-primary submit-button" [disabled]="eosForm.invalid" (click)="onSubmit()">
                        {{ 'edit' | translate }}
                    </button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="{{'eos.unpaidSalaries' | translate}}">
            <div class="table-responsive" style="margin-top: 40px;">
                <table mat-table [dataSource]="updaidSalaryDataSource" matSort
                    class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <ng-container *ngFor="let column of unpaidSalaryColumns" [matColumnDef]="column">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'eos.' + column | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
                        </ng-container>
                    </thead>
                    <tbody>
                        <tr mat-header-row *matHeaderRowDef="unpaidSalaryColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: unpaidSalaryColumns;" (click)="onRowClicked(row)">
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>